/**
 * App-wide Styles
 */

 body {
   padding-top: 85px; /* must be height of "navbar" */
   font-family: 'Cabin', sans-serif;
   font-weight: 400;
   background-color: #f0f3f6
 }

 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
     display: none !important;
 }
