<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FitStats</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left" ng-show="isLoggedIn()">
        <li ng-class="{active: isActive('/dashboard')}"><a href="/dashboard"><i class="fa fa-tachometer"></i>Dashboard</a></li>
        <li ng-class="{active: isActive('/stats')}"><a href="/stats"><i class="fa fa-bar-chart-o"></i>Stats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Signup</a></li>
        <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings">{{ getCurrentUser().name }} Settings</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Logout</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav><!-- end navbar -->

<!-- necessary for mobile dropdown menu.
     Had to put here otherwise grunt build file will not include it -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
