<div ng-include="'components/navbar/navbar.html'"></div>

<div>
  <div class="container">

    <!-- Day Selector -->
    <div class="row day-select">
      <div class="col-md-offset-3 col-md-6">
        <!-- <button><i class="fa fa-chevron-left" ng-click="previousDay()"></i></button> -->
        <button class="date-button"><i class="fa fa-chevron-left" ng-click="previousDay()"></i></button>
        <button class="date-button" ng-click="resetDate()"><h2>{{  mainTitle }}</h2></button>
        <!-- <h4>July 8, 2014</h4> -->
        <h4>{{ date | date: 'EEE MMMM d, yyyy' }}</h4>
        <!-- <button><i class="fa fa-chevron-right" ng-click="nextDay()"></i> </button> -->
        <button class="date-button"><i class="fa fa-chevron-right" ng-click="nextDay()"></i></button>
      </div>
    </div><!-- end day selector -->

    <div class="row">
      <!-- First Column -->
      <div class="col-md-4">

        <!-- Weight Block -->
        <div class="panel panel-default weight">

            <div class="panel-heading">WEIGHT</div>
            <div class="panel-body">

              <!-- weight form -->
              <form role="form" ng-controller="WeightController" ng-submit='submit(formData.weight, "weight")'>
                <label for="weight">Weight:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.weight }}<span class="suffix">lbs</span></span>

                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="weight" placeholder="Weight in lbs" ng-model="formData.weight">
                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.weight"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end weight form -->

              <!-- body fat form -->
              <form role="form" ng-controller="BFController" ng-submit='submit(formData.bf, "bf")'>
                <label for="bf">Body Fat:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.bf }}<span class="suffix">%</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="bf" placeholder="Body Fat as %" ng-model="formData.bf">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.bf"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form>
              <!-- end body fat form -->

            </div>

        </div><!-- end weight block -->

        <!-- Heart Block -->
        <div class="panel panel-default heart">

            <div class="panel-heading">HEART</div>
            <div class="panel-body">

              <!-- heart rate form -->
              <form role="form" ng-controller="HRController" ng-submit='submit(formData.hr, "hr")'>
                <label for="hr">Resting HR:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.hr }}<span class="suffix">bpm</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="hr" placeholder="Heart Rate in BPM" ng-model="formData.hr">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.hr"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end heart rate form

              <!-- blood pressure form -->
              <form role="form" ng-controller="BPController" ng-submit='submitBoth()'>
                <label for="bps">BP:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.bps }} / {{ currentDay.bpd }}<span class="suffix">mmHg</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="bps" placeholder="Systolic" ng-model="formData.bps">
                    <input type="text" class="form-control" id="bpd" placeholder="Diastolic" ng-model="formData.bpd">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.bps && formData.bpd"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end blood pressure form -->

            </div>
        </div>
        <!-- end heart block -->

      </div><!-- end first column -->

      <!-- Second Column -->
      <div class="col-md-4">

        <!-- Food Block -->
        <div class="panel panel-default food" ng-controller="FoodController">

            <div class="panel-heading">FOOD <button ng-click="getMfpData()"><i class="fa fa-cloud-download"></i></button></div>

            <div class="panel-body">

              <!-- Food form -->
              <form name="foodForm" role="form" ng-submit='submitAll()'>
                <label for="calories">Calories:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.calories }}<span class="suffix">kcal</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input name="calories" type="text" class="form-control" id="calories" placeholder="Calories" ng-model="formData.calories"

                    ng-show="(foodForm.protein.$pristine && foodForm.carbs.$pristine && foodForm.fat.$pristine)
                    || (formData.protein == 0 && formData.carbs == 0 && formData.fat == 0)">
                  </div>
                </div>

                <label for="protein">Protein:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.protein }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input name="protein" type="text" class="form-control" id="protein" placeholder="Protein in grams" ng-model="formData.protein" ng-change="chartUpdate()"
                    ng-show="foodForm.calories.$pristine || formData.calories == 0">
                  </div>
                </div>

                <label for="carbs">Carbs:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.carbs }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input name="carbs" type="text" class="form-control" id="protein" placeholder="Carbs in grams" ng-model="formData.carbs" ng-change="chartUpdate()"
                    ng-show="foodForm.calories.$pristine || formData.calories == 0">
                  </div>
                </div>

                <label for="fat">Fat:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.fat }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input name="fat" type="text" class="form-control" id="fat" placeholder="Fat in grams" ng-model="formData.fat" ng-change="chartUpdate()"
                    ng-show="foodForm.calories.$pristine || formData.calories == 0">
                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.calories && formData.protein && formData.carbs && formData.fat"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              <div style="margin: 0 auto 0;">
                <nvd3-pie-chart
                  data="macroNutrientData"
                  id="macroNutrient"
                  height="300"
                  margin="{left:0,top:15,bottom:0,right:0}"
                  x="xFunction()"
                  y="yFunction()"
                  showLabels="true"
                  color="colorFunction()">
                  <svg height="300"></svg>
                </nvd3-pie-chart>
              </div>

            </form><!-- end food form -->



            </div>

        </div><!-- end food block -->



      </div><!-- end second column

      <!-- Third Column -->
      <div class="col-md-4">

        <div class="panel panel-default exercise">
          <div class="panel-heading">EXERCISE</div>
          <div class="panel-body">
            Coming Soon
          </div>
        </div>

        <div class="panel panel-default water">
          <div class="panel-heading">WATER</div>
          <div class="panel-body">
            Coming Soon
          </div>
        </div>

      </div><!-- end third column -->

    </div><!-- end row -->

  </div><!-- end container -->
</div>

  <!--  -->
  <!-- footer start  -->
<div ng-include="'components/footer/footer.html'"></div>

<!-- <div class="footer">
  <div class="container">
    <p class="text-muted">&copy; 2014 FitStats</p>
  </div>
</div> -->
