/********* DAY SELECT ********/

.day-select {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.day-select h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4f5f6f;
  font-size: 2em;
  text-align: center;
}
.day-select h4 {
  font-size: 1.4em;
  color: #9fabb8;
  margin-top: 10px;
  margin-bottom: 0;
}

.day-select i.fa-chevron-left {
  font-size: 1.8em;
  position: absolute;
  top: 40%;
  left: 20px;
  color: #9fabb8;
}

.day-select i.fa-chevron-right {
  font-size: 1.8em;
  position: absolute;
  top: 40%;
  right: 20px;
  color: #9fabb8;
}

/********* BLOCKS ********/

.panel.weight .panel-heading { background-color: #ad78cc; }
.panel.heart .panel-heading { background-color: #d57272; }
.panel.food .panel-heading { background-color: #61ce5c; }
.panel.exercise .panel-heading { background-color: #d9bc6c; }
.panel.water .panel-heading { background-color: #59c2e6; }

.panel form {
  margin-bottom: 15px;
}

.panel form label {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 3.75em;
  color: #4f5f6f;
  width: 75px;
  margin: 10px 10px 10px 0;
}

.panel form .data-display-and-input {
  position: relative;
  display: inline-block;
  width: calc(100% - 135px);
}

.data-display-and-input span {
  color: #4f5f6f;
}

.data-display-and-input span.display {
  position: relative;
  top: 4px;
  left: 8px;
  font-size: 2.375em;
}

.data-display-and-input span.suffix {
  font-size: 0.5em;
  padding-left: 4px;
}

.panel .form-control {
  display: inline-block;
}

.panel .form-control[id="bps"] {
  width: 48%;
}

.panel .form-control[id="bpd"] {
  width: 48%;
  margin-right: 0;
  float: right;
}

.panel form .controls {
  position: relative;
  display: inline-block;
}

.panel form button {
  position: absolute;
  top: -12px;
  left: 4px;
  background-color: transparent;
  border: none;
  outline: none;
}

.date-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.panel form i {
  float: right;
  margin-right: 0px;
  opacity: .5;
}

.panel form i:hover {
  opacity: 1;
}

.panel.weight form i { color: #ad78cc; }
.panel.heart form i { color: #d57272; }
.panel.food form i { color: #61ce5c; }
.panel.exercise form i { color: #d9bc6c; }
.panel.water form i { color: #59c2e6; }


.panel.food .mfp-button {
  position: relative;
  top: -2px;
  float: right;
  margin-bottom: 4px;
  border: none;
  outline: none;
  color: white;
  background-color: #24A43D;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
  border-radius: 4px;
}

.panel.food .mfp-button:hover {
  color: white;
  background-color: #108D28;
}

.panel.food .mfp-button:active {
  color: white;
  background-color: #108D28;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.panel.food .mfp-button i {
  margin-left: 4px;
}
